@import 'modal.css';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
html,body {
    background-color: #000;
}
.nav-container{
    height: 80px;
    background: linear-gradient(90deg, #22D3EE, #06B6D4);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.nav-main{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main {
    color: #fff;
    font-size: 36px;
}

.contact-link {
    color: #fff;
    cursor: pointer;
}

.form-container{
    width: 100%;
    padding: 40px 20px;
}

.card-form{
    background-color: #333;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}

.form-control{
    margin-bottom: 20px;

}

.form-control label{
    display: none;    
}

.error-message{
    margin-top: 5px;
    color: #faa;
}

.form-input{
    background-color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 14px;
    border: 0;
}

.form-input ::placeholder{
    color: #c9c9c9;
}

.form-input:disabled{
    background-color: #ddd;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    
}
.btn{
    width: 250px;
    height: 50px;
    background-color: aqua;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    color : #fff;
    font-weight: bold;
}
.btn-left{
    margin-right: 10px;
}
.btn-right{
    margin-left: 10px;
}

.list-container{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.card-list-item{
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    max-width: 900px;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
}

.card-list-item h3{
    color: aqua;
}

.card-list-item h3{
    color: aqua;
    font-size: 18px;
}

.address-line{
    color: #fff;
    font-size: 14px;
}

.address-cep{
    color: #8f8f8f;
    font-size: 12px;
}